{% extends 'base.html.twig' %}

{% block title %}Hello CodeController!{% endblock %}

{% block body %}
    {{ form_start(codeForm) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(codeForm) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(codeForm.numberOfCodes) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(codeForm.lengthCode) }}
        </div>
    </div>
    {{ form_end(codeForm) }}

    {% if fileIsWrite == true%}
        <a href="{{ path('download_file') }}">Download file</a>
    {% endif %}
{% endblock %}
